* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
}

h1, h2, table {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0.5rem;
}

table {
    border-collapse: collapse;
}

td {
}

.title {
    cursor: pointer;
}

.title td:first-child {
    font-weight: bold;
}

#out > tbody > tr > td {
    padding: 0.5rem 0.25rem 0.5rem 0;
}

.traits {
}

.traits tr:nth-child(2n) {
    background: #efefef;
}

.traits tr:nth-child(2n+1) {
    background: #dfdfdf;
}

.traits td {
    padding: 0.5rem;
}

.traits td:first-child {
    text-align: right;
}

a {
    color: black;
}

.maybe {
    font-size: 80%;
}

.unlikely {
    font-size: 70%;
}

.no {
    font-size: 60%;
    opacity: .5;
}

.title h3:before {
    content: "▶ ";
}

.title.open h3:before {
    content: "▼ ";
}

.yes.title td h3 a::after {
    color: green;
    content: " (HTML5!)";
}

.maybe.title td h3 a::after {
    color: purple;
    content: " (Possibly HTML5!)";
}

.unlikely.title td h3 a::after {
    color: teal;
    content: " (Unlikely HTML5)";
}

.no.title td h3 a::after {
    color: red;
    content: " (Not HTML5)";
}

.details {
    display: none;
}

nav {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    background: #ffe;
    color: #999;
    transition: all 0.5s;
}

nav:hover {
    background: #ff0;
}

nav ul {
    list-style-position: inside;
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav a {
    color: #888;
    text-decoration: none;
}

